Source: i3m-linux-daemon
Section: utils
Priority: optional
Maintainer: Michael Wolf <michael@mictronics.de>
Build-Depends: debhelper(>=9), pkg-config, dh-systemd, libi2c-dev, libatasmart-dev, libsensors4-dev
Standards-Version: 4.6.2
Homepage: https://github.com/Mictronics/i3m-linux-daemon
Vcs-Git: https://github.com/Mictronics/i3m-linux-daemon.git

Package: i3m-linux-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CompuLab AirTop Front Panel service daemon.
  Provide hardware-related metrics to AirTop front panel display controller.
  In addition, enable setting thermal limit on discrete GPU.
