# gpu-thermald - CompuLab AirTop GPU Thermal Daemon

[Unit]
Description=gpu-thermald daemon

[Service]
ExecStart=/usr/bin/gpu-thermald --configfile=/etc/default/gpu-thermald
Restart=no

[Install]
WantedBy=multi-user.target

